 
<?xml version="1.0"?>
<model>
  <name>sherpa_map</name>
  <version>1.0</version>
  <sdf version='1.4'>sdf/sherpa_map.sdf</sdf>

  <author>
   <name>Benjamin Brieber</name>
   <email>bbrieber@informatik.uni-bremen.de</email>
  </author>

  <description>
    The Sherpa Map
  </description>
</model>
