<?xml version="1.0"?>

<launch>
  <param name="robot_description" textfile="$(find sherpa_base_camp_description)/urdf/sherpa_base_camp.urdf" />
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->

  <node name="spawn_base_camp" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -z 1 -x 5 -y 5 -model Base_Camp"/> 
  <!--node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find sherpa_rover_description)/urdf/sherpa_rover.urdf -urdf -z 1 -model Sherpa_Rover"/--> 
</launch>
