<?xml version="1.0"?>

<launch>
<group ns="sherpa_rmax">
  <param name="robot_description" textfile="$(find sherpa_rmax_description)/urdf/sherpa_rmax.urdf" />
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->

  <node name="spawn_rmax" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model Sherpa_Rmax"/> 
</group><!--node name="spawn_rmax" pkg="gazebo_ros" type="spawn_model" args="-file $(find sherpa_rmax_description)/urdf/sherpa_rmax.urdf -urdf -z 1 -model Sherpa_Rmax"/--> 
</launch>
