<robot name="sherpa_rmax">
    <!-- 
    TODO
    Correct the gripper
    FIX Collision FOR Gripper?
    seperate BOX
    -->
  <link name="rmax_link">
    <!--MAIN_BODY-->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	<mesh filename="package://sherpa_rmax_description/meshes/rmax_textured.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://sherpa_rmax_description/meshes/rmax_textured.dae"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia 
        ixx="1.0" ixy="0.0" ixz="0.0" 
        iyy="1.0" iyz="0.0" 
        izz="1.0"/>
    </inertial>
  </link>
  
  
  <gazebo>
    <static>true</static>
    <plugin name="rmax_ros_control" filename="libgazebo_ros_control.so">
      <robotParam>rmax/robot_description</robotParam>
      <controlPeriod>0.001</controlPeriod>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
 
    </plugin>
  </gazebo>
  
  
</robot>