 
<?xml version="1.0"?>
<model>
  <name>SherpaHector</name>
  <version>1.0</version>
  <sdf>urdf/hector.urdf</sdf>
  <author>
   <name>Benjamin Brieber</name>
   <email>bbrieber@informatik.uni-bremen.de</email>
  </author>

  <description>
    The Sherpa Hector Quadrotor
    Use the launch files in sherpa_gazebo to use em
  </description>
</model>
