 
<?xml version="1.0"?>
<model>
  <name>SherpaRmax</name>
  <version>1.0</version>
  <sdf>urdf/sherpa_rmax.urdf</sdf>
  <author>
   <name>Benjamin Brieber</name>
   <email>bbrieber@informatik.uni-bremen.de</email>
  </author>

  <description>
    The Sherpa RMax Helicopter
  </description>
</model>
