<?xml version="1.0"?>
<model>
  <name>Sherpa Human Model</name>
  <version>1.0</version>
  <sdf version='1.4'>sphere_actor.sdf</sdf>

  <author>
   <name>Benjamin Brieber</name>
   <email>bbrieber@tzi.de</email>
  </author>

  <description>
    Place holder for the Sherpa GUI.
  </description>
</model>
