 
<?xml version="1.0"?>
<model>
  <name>sherpa_rover</name>
  <version>1.0</version>
  <sdf version='1.4'>urdf/sherpa_rover.urdf</sdf>

  <author>
   <name>Benjamin Brieber</name>
   <email>bbrieber@informatik.uni-bremen.de</email>
  </author>

  <description>
    The Sherpa Snow Rover
  </description>
</model>
